html, body {
	background:#4c9d51;
}

body {
	padding: 0 !important;
	overflow: hidden;
}

#header {
	margin: 20px 0;
} 

#footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}

#notifications {
	color:white;
	text-align:right;
	float:right;
	opacity:0;
}

.popover {
	width: 600px;
}

#headertext {
	position:relative;
}

h1 { 
	transition: color 10s;
}
h1.night {
	transition: color 10s;
	color:darkgray;
}

#container {
	position: absolute;
	z-index: 99;
}

#icecream-options button {
	background-image: inherit;
	transition: color 1s, text-shadow 1s, background-color 1s, border-color 1s;
}

#icecream-options button.btn-inverse {
	color: darkgray;
}

/* Landscape phones and down */
@media (max-width: 767px) {
	/* #todo: use this as fallback when dynamic svg unavailable */
	/* body {
		background-image:url('../img/background.svg');
		background-size:cover;
		background-repeat:no-repeat;
	} */
	
	body {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	
	#mainbody {
		padding:10px;
	}
	
	#meltingtime {
		position: absolute;
		z-index: 1;
	}
	
	.popover p {
		font-size: 0.9em;
		line-height: 1.1em;
	}
	
	h1 {
		text-shadow:1px 1px #fff;
	}
}

/* Bigger than phones */
@media (min-width: 768px) {
	h1 {
		font-size: 64pt;
		line-height: 70pt;
		z-index:99;
	}
	
	#playspeed-mobile {
		display: none;
	}
}


/* / / / / / / / / / / / / / / */
/* /////////////////////////// */
/* /// B A C K G R O U N D /// */
/* /////////////////////////// */
/* / / / / / / / / / / / / / / */

#background {
	position:absolute;
	width:100%;
	height:100%;
	z-index:0;
}
#Cloud_1, #Cloud_2, #Cloud_3, #Cloud_4 {
	opacity: 0;
	transition: opacity 5s;
}
/* .play is currently unused */
/* #Cloud_1.play, #Cloud_2.play, #Cloud_3.play, #Cloud_4.play {
	transition: opacity 3s;
}
#Sun.play {
	transition: -webkit-transform 1s;
	transition: transform 1s;
	transition-timing-function: linear;
} */
#Sun {
	transition: -webkit-transform 1s;
	transition: transform 1s;
	transition-timing-function: linear;
}
.cowspot {
	transition: fill 10s;
}
#Sky {
	transition: opacity 10s;
}
#Ground_Cover {
	opacity: 0;
	transition: opacity 10s;
	pointer-events: none;
}

#Head {
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
}
#Head:hover {
	transform: translateY(2px);
	-webkit-transform: translateY(2px);
}
#Head:active {
	transform: translateY(1px);
	-webkit-transform: translateY(1px);
}
#Udder {
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
}
#Udder:hover {
	transform: translateY(1px);
	-webkit-transform: translateY(1px);
}
#Udder:active {
	transform: translateY(2px);
	-webkit-transform: translateY(2px);
}


/* / / / / / / / / / / / / / */
/* ///////////////////////// */
/* /// I C E   C R E A M /// */
/* ///////////////////////// */
/* / / / / / / / / / / / / / */

#icecream-container {
	float:right;
	position:relative;
}
#icecream-svg {
	fill: #aa8747;
}
#scoop {
	fill: #664422;
	stroke: none;
	stroke-width: 2;
	transition: fill 1s;
}
#scoop.melt
{
	/*
	animation-name: myfirst;
	animation-duration: 10s;
	animation-timing-function: linear;
	*/
	-webkit-animation-name: melting;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: linear;
}
@keyframes melt
{
	0%   {
		transform: scale(1,1) translate(0px, 0px);
	}
	100% {
		transform: scale(.75,.2) translate(0px, 5px);
	}
}
@-webkit-keyframes melt
{
	0%   {
		-webkit-transform: scale(1,1) translate(0px, 0px);
	}
	100% {
		-webkit-transform: scale(.75,.2) translate(0px, 5px);
	}
}

#Starfield {
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transition: -webkit-transform 1s;
	transition: transform 1s;
	transition-timing-function: linear;
}