html {
	background:#4c9d51;
}

body {
	padding: 0 !important;
}

#header {
	margin: 20px 0;
} 

#footer {
	position: fixed;
	bottom: 0;
}

.popover {
	width: 600px;
}

#headertext {
	position:relative;
}

h1.night {
	transition: color 10s;
	color:darkgray;
}

#container {
	position: absolute;
	z-index: 99;
}

#icecream-options button {
	background-image: inherit;
	transition: color 1s, text-shadow 1s, background-color 1s, border-color 1s;
}

#icecream-options button.btn-inverse {
	color: darkgray;
}

/* Landscape phones and down */
@media (max-width: 480px) {
	body {
		background-image:url('../img/background.svg');
		background-size:cover;
		background-repeat:no-repeat;
	}
}

/* Bigger than phones */
@media (min-width: 481px) {
	h1 {
		font-size: 64pt;
		line-height: 70pt;
		z-index:99;
	}
}


/* / / / / / / / / / / / / / / */
/* /////////////////////////// */
/* /// B A C K G R O U N D /// */
/* /////////////////////////// */
/* / / / / / / / / / / / / / / */

#background {
	position:absolute;
	width:100%;
	height:100%;
	z-index:0;
}
#Left_Cloud, #Right_Cloud {
	opacity: 0;
	transition: opacity 5s;
}
#Sun {
	transition: -webkit-transform 5s;
	transition: transform 5s;
}
.cowspot {
	transition: fill 10s;
}
#Sky {
	transition: opacity 10s;
}
#Ground_Cover {
	opacity: 0;
	transition: opacity 10s;
}


/* / / / / / / / / / / / / / */
/* ///////////////////////// */
/* /// I C E   C R E A M /// */
/* ///////////////////////// */
/* / / / / / / / / / / / / / */

#icecream-container {
	float:right;
	position:relative;
}
#icecream-svg {
	fill: #aa8747;
}
#scoop {
	fill: #664422;
	stroke: none;
	stroke-width: 2;
	transition: fill 1s;
}
#scoop.melt
{
	/*
	animation-name: myfirst;
	animation-duration: 10s;
	animation-timing-function: linear;
	*/
	-webkit-animation-name: melting;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: linear;
}
@keyframes melt
{
	0%   {
		transform: scale(1,1) translate(0px, 0px);
	}
	100% {
		transform: scale(.75,.2) translate(0px, 5px);
	}
}
@-webkit-keyframes melt
{
	0%   {
		-webkit-transform: scale(1,1) translate(0px, 0px);
	}
	100% {
		-webkit-transform: scale(.75,.2) translate(0px, 5px);
	}
}